.seperate-menu-basket {
    display: flex;
    justify-content: space-between;
}

.dishes-container {
    padding: 20px;
}

.dishes-box {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}